.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #84f2d5;
    border: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

body {
	background-color: #58c0ff;
	}

.chat-box {
  font:normal normal 11px/1.4 Tahoma,Verdana,Sans-Serif;
  color: #333;
  width: 300px; /* Chatbox width */
  border:1px solid #344150;
  border-bottom:none;
  background-color:white;
  position:fixed;
  right:10px;
  bottom:0;
  z-index:9999;
  -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  -moz-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.chat-box > input[type="checkbox"] {
  display:block;
  margin:0 0;
  padding: 0px;
  position:absolute;
  top:0;
  right:0;
  left:0;
  width:100%;
  height:26px;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
}

.chat-box > label {
  display:block;
  height:24px;
  width: 282px;
  text-align: center;
  line-height:24px;
  background-color: #344150;
  color:white;
  font-weight:bold;
  padding: 1px;
}
.chat-box > label:before {content:attr(data-collapsed)}

.chat-box .chat-box-content {
  padding:10px;
  display:none;
}

/* hover state */
.chat-box > input[type="checkbox"]:hover + label {background-color:#404D5A}

/* checked state */
.chat-box > input[type="checkbox"]:checked + label {background-color:#212A35}
.chat-box > input[type="checkbox"]:checked + label:before {content:attr(data-expanded)}
.chat-box > input[type="checkbox"]:checked ~ .chat-box-content {display:block}


.description {
	font-family: "Comic Sans MS, cursive, sans-serif";
}

.description > div,span {
	font-size: 1rem;
	text-transform: capitalize;
	white-space: normal;
	color: #761C28;
}

.pricing-table{
	border: 0px dotted;
}
.pricing-table .title {
	font-family: "Comic Sans MS, cursive, sans-serif";
	color: #761C28;
	background-color: #00FFFF;
	border: 0px;
	border-radius: 10px 10px 0px 0px; 
	padding-top: 5px;
	padding-bottom: 5px
}
#update_post {
	background-color: #00FFFF;
	border: 1px dotted;
	border-radius: 5px 5px;
	color: white;
	margin-bottom: 10px;
}

#update_box {
	color: #761C28;
	border: 1px solid #3366FF;
	border-left: 15px solid #3366FF;
}
.navbar-brand{
	text-transform: capitalize;
}

#follow_btn {
	background-color: #00FFFF;
	color: #761C28;
	border: 1px dotted;
	border-radius: 5px 5px;
	height: 20px;
	margin-bottom: 10px;
}
#link_follow:hover {
	opacity: 0.7;
	cursor: default;
	text-decoration: underline;
	text-decoration-style: dotted;
}
#switch_btn > label {
	background: #89b4fd;
}

textarea#status {
	width: 700px;
	height:60px;
	border:1px solid #3366FF;
	border-left: 25px solid #3366FF;
}
#wall_street {
	margin-top: 50px;
	border-radius: 0px 0px;
}
div[class="medium-4 medium-left columns"] h2 {
	font-family: "Comic Sans MS, cursive, sans-serif";
	color: white;
}
